<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Estilo do bootstrap</h1>
    <button class="btn btn-danger">Danger</button>

</body>

<%- include('./partials/footer.ejs') %>